<div th:fragment="username">
    <h1>
        <th:block th:text="#{form.user.username}"/>
    </h1>
    <form action="/user/login/username" method="post" th:object="${user}">
        <fieldset>
            <div class="vertical">
                <label class="boldText">Log in</label><br>
                <input type="text" th:field="*{username}" placeholder="Username" class="inputText"><br>
                <p th:if="${error}" th:text="${error}" class="error"></p>
                <input type="submit" value="Log in">
            </div>
        </fieldset>
    </form>
</div>
<div th:fragment="password">
    <h1>
        <th:block th:text="#{form.user.password}"/>
    </h1>
    <form action="/user/login/password" method="post" th:object="${user}">
            <p id="currentUser"><th:block th:text="*{username}"/></p>
        <!--<select th:if="${users}" id="users">
            <option th:each="posibleUser : ${users}" th:text="${posibleUser}" th:value="${posibleUser}"
                    th:selected="${posibleUser.equals(user.username)}"></option>
        </select><br>-->
        <input type="password" th:field="*{password}" placeholder="Password" class="inputText"><br>
        <div><input type="checkbox" onclick="showPwd()"><label>Show password</label></div>
        <p th:if="${errorPwd}" th:text="${errorPwd}" class="error"></p>
        <div><input type="button" value="Forgot password?" onclick="forgotPwd()">
            <input type="submit" value="Log in">
        </div>
    </form>
</div>
