<div>
    <h2><th:block th:text="#{client.detail.title}"/></h2>
    <div class="divTable table-details">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead"><th:block th:text="#{table.field}"/></div>
                <div class="divTableHead"><th:block th:text="#{table.value}"/></div>
            </div>
        </div>
        <div class="divTableBody" th:object="${client}">
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.id}"/></div><div class="divTableCell"><th:block th:text="*{id}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.user}"/></div><div class="divTableCell"><th:block th:text="*{user?.email}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.gender}"/></div><div class="divTableCell"><th:block th:text="*{gender?.type?.abbreviation}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.birthDate}"/></div><div class="divTableCell"><th:block th:text="*{birthDate}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.country}"/></div><div class="divTableCell"><th:block th:text="*{country?.type?.abbreviation}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.documentType}"/></div><div class="divTableCell"><th:block th:text="*{documentType?.type?.abbreviation}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.document}"/></div><div class="divTableCell"><th:block th:text="*{document}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.phoneNumber}"/></div><div class="divTableCell"><th:block th:text="*{contact?.phoneNumber}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.firstName}"/></div><div class="divTableCell"><th:block th:text="*{contact?.firstName}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.lastName}"/></div><div class="divTableCell"><th:block th:text="*{contact?.lastName}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.address}"/></div><div class="divTableCell"><th:block th:text="*{address}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.deliveryAddress}"/></div><div class="divTableCell">
                <th:block th:each="address : *{deliveryAddress}">
                    <p><th:block th:text="${address}"/></p>
                </th:block>
            </div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.totalSpentMoney}"/></div><div class="divTableCell"><th:block th:text="*{totalSpentMoney}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.clientType}"/></div><div class="divTableCell"><th:block th:text="*{clientType?.type?.abbreviation}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.interestedCategories}"/></div><div class="divTableCell">
                <th:block th:each="category : *{interestedCategories}">
                    <p><th:block th:text="${category.code}"/></p>
                </th:block>
            </div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.comments}"/></div><div class="divTableCell"><th:block th:text="*{comments}"/></div></div>
            <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{client.detail.license}"/></div><div class="divTableCell"><th:block th:text="*{license}"/></div></div>
            <th:block th:replace="~{fragments/auditory/detail::detailRow(auditory=*{auditory})}"/>
        </div>
    </div>
</div>