<div>
    <h2>
        <th:block th:text="#{client.detail.titleList}"/>
    </h2>
    <div class="divTable table-details">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.id}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.user}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.gender}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.birthDate}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.country}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.documentType}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.document}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.phoneNumber}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.firstName}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.lastName}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.address}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.deliveryAddress}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.totalSpentMoney}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.clientType}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.interestedCategories}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.comments}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{client.detail.license}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.entryDate}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.entryUser}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.lastModificationDate}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.lastModificationUser}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.removedDate}"/>
                </div>
                <div class="divTableHead">
                    <th:block th:text="#{auditory.detail.removedUser}"/>
                </div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow" th:each="client : ${clients}">
                <div class="divTableCell"><th:block th:text="${client.id}"/></div>
                <div class="divTableCell"><th:block th:text="${client.user?.id}"/></div>
                <div class="divTableCell"><th:block th:text="${client.gender?.type?.abbreviation}"/></div>
                <div class="divTableCell"><th:block th:text="${client.birthDate}"/></div>
                <div class="divTableCell"><th:block th:text="${client.country?.type?.abbreviation}"/></div>
                <div class="divTableCell"><th:block th:text="${client.documentType?.type?.abbreviation}"/></div>
                <div class="divTableCell"><th:block th:text="${client.document}"/></div>
                <div class="divTableCell"><th:block th:text="${client.contact?.phoneNumber}"/></div>
                <div class="divTableCell"><th:block th:text="${client.contact?.firstName}"/></div>
                <div class="divTableCell"><th:block th:text="${client.contact?.lastName}"/></div>
                <div class="divTableCell"><th:block th:text="${client.address}"/></div>
                <div class="divTableCell">
                    <th:block th:each="address : ${client.deliveryAddress}">
                        <p><th:block th:text="${address.id}"/></p>
                    </th:block>
                </div>
                <div class="divTableCell"><th:block th:text="${client.totalSpentMoney}"/></div>
                <div class="divTableCell"><th:block th:text="${client.clientType?.type?.abbreviation}"/></div>
                <div class="divTableCell">
                    <th:block th:each="category : ${client.interestedCategories}">
                        <div><th:block th:text="${category.code}"/></div>
                    </th:block>
                </div>
                <div class="divTableCell"><th:block th:text="${client.comments}"/></div>
                <div class="divTableCell"><th:block th:text="${client.license}"/></div>
                <th:block th:replace="~{fragments/auditory/detail::detailList(${client.auditory})}">
            </div>
        </div>
    </div>
</div>