<div>
  <h2><th:block th:text="#{promotion.detail.title}"/></h2>
  <div class="divTable table-details">
    <div class="divTableHeading">
      <div class="divTableRow">
        <div class="divTableHead"><th:block th:text="#{table.field}"/></div>
        <div class="divTableHead"><th:block th:text="#{table.value}"/></div>
      </div>
    </div>
    <div class="divTableBody" th:object="${promotion}">
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{promotion.detail.id}"/></div><div class="divTableCell"><th:block th:text="*{id}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{promotion.detail.description}"/></div><div class="divTableCell"><th:block th:text="*{description}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{promotion.detail.discount}"/></div><div class="divTableCell"><th:block th:text="*{discount}"/></div></div>
      <th:block th:replace="~{fragments/period/detail::periodDetailView(period=*{period})}"/>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{promotion.detail.products}"/></div>
        <div class="divTableCell">
          <th:block th:each="product : *{products}">
            <p><th:block th:text="${product.code}"/></p>
          </th:block>
        </div>
      </div>
      <th:block th:replace="~{fragments/auditory/detail::detailRow(auditory=*{auditory})}"/>
    </div>
  </div>
</div>