<div>
  <h2><th:block th:text="#{category.detail.title}"/></h2>
  <div class="divTable table-details">
    <div class="divTableHeading">
      <div class="divTableRow">
        <div class="divTableHead"><th:block th:text="#{table.field}"/></div>
        <div class="divTableHead"><th:block th:text="#{table.value}"/></div>
      </div>
    </div>
    <div class="divTableBody" th:object="${category}">
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{category.detail.id}"/></div><div class="divTableCell"><th:block th:text="*{id}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{category.detail.code}"/></div><div class="divTableCell"><th:block th:text="*{code}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{category.detail.description}"/></div><div class="divTableCell"><th:block th:text="*{description}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{category.detail.parentCategory}"/></div><div class="divTableCell"><th:block th:text="*{parentCategory?.code}"/></div></div>
      <div class="divTableRow"><div class="divTableCell"><th:block th:text="#{category.detail.childCategories}"/></div><div class="divTableCell">
        <th:block th:each="child : *{childCategories}">
           <p><th:block th:text="${child.code}"/></p>
        </th:block>
      </div></div>
      <th:block th:replace="~{fragments/auditory/detail::detailRow(auditory=*{auditory})}"/>
    </div>
  </div>
</div>